fieldset.color-picker-radio-class {
  input[type="radio"] {
    display: none;
  }

  label {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    float: left;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    outline: 1px solid #ffffff;
    border: 2px solid #ffffff;

    &.checked {
      outline: 1px solid #000000;
      border: 2px solid #ffffff;
      margin-top: 0;
    }

    &.non-required-value {
      text-indent: 0;
      text-align: center;
      line-height: 30px;
    }
  }
}